:root {
  --gold-la: #ffbb00;
  --green-la: #00923f;
  --red-la: #d52c27;
}

* {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

body{
  font-size: 16px;
  color: #fff;
  background-color: #D52C27;
  font-family: 'oxygen', sans-serif;
}
/** container **/
.container {
  display: flex;
  flex-direction: column;
  background-color: var(--red-la);
  margin-left: 20vw;
  margin-right: 20vw;
  padding: 10px;
  border: 10px #2c3639;
  border-radius: 10px;
  box-shadow: 5px 5px 10px lightslategrey;
  }

.container .text {
  text-align: center;
  color: #ffff;
  font-size: 1em;
}
.container .about {
  color: #ffff;
  text-align: center;
  padding: 5px;
}
.container .photo {
  margin: auto;
  width: 350px;
  height: 200px;
  background-size: inherit;
  border: 10px solid;
  border-radius: 10px;
  border-color: var(--gold-la);
}
.text_field {
  padding: 25px;
}
/* nav bar */
.navbar {
  height: 90px;
  background-color: #00923f;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar a{
  color: white;
}
.logo a {
  font-size: 24px;
  font-weight: 700;
  color: white;

}
/** footer **/
.footer_text {
  text-align: center;
  font-size: 30px;
  font-weight: 800px;
}
.email {
  font-size: 5rem;
}
/** socails **/
.socials {
  display: inline-flex;
}
.socials .soc {
  height: 100px;
  width: 100px;
  margin: 50px;
  background-size: cover;
}
.socials .insta{
  height: 100px;
  width: 100px;
  margin: 50px;
  background-size: cover;
}
.socials .twitter{
  height: 100px;
  width: 100px;
  margin: 50px;
  background-size: cover;
}

.tempcard{
  width: 700px;
  height: 400px;
  background-color: red;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
}
.tempcard:hover {
  background-color: blue;
  transform: rotateY(180deg);
}
.content {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
}
.card {
  color: inherit;
  cursor: pointer;
  width: calc(33% - 2rem);
  min-width: 260px;
  height: 420px;
  perspective: 1000px;
  margin: 1rem;
  position: relative;
  max-height: 1200px;
  max-width: 1200px;
}
.front,
.back {
  display: flex;
  border-radius: 6px;
  background-position: center;
  background-size: cover;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: ease-in-out 600ms;
}
.front:before {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, #1a9be6, #1a57e6);
  opacity: .0;
  z-index: -1;
}
.card:hover .front {
  transform: rotateY(180deg);
}
.back {
  transform: rotateY(-180deg);
  padding: 0 2em;
  background-size: cover;
}
.card:hover .back {
  transform: rotateY(0deg);
}
/* media queries */
/* Large */
@media (min-width: 1200px) {

}

/* Medium */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Small */
@media (min-width:768px) and (max-width:991px) {

}

/* extra small */
@media (max-width: 767px) {

}

/* extra extra small */
@media (max-width: 479px) {
  .email{
    font-size: 2.5rem;
  }
  .container {
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
  }

  .container .about {
    order: 1; 
    margin-top: 10px; 
  }

  .container .photo {
    order: 2; 
    margin-top: 10px; 
  }

  .text_field {
    order: 3; 
    padding-top: 10px; 
  }
} 
/**