.body {
      margin: 0;
      height: 100vh;

      display: flex;
      justify-content: center; /* Horizontal */
      align-items: center;     /* Vertical */
    }

iframe {
  width: 90vw;
  height: 90vh;
  border: none;
}