* {
  box-sizing: border-box;
}

body{
  font-size: 16px;
  color: #fff;
  background-color: #D52C27;
  font-family: 'oxygen', sans-serif;
}
/* name card */
.name_card {
  display: flex;
  background-color: #ffbb00;
  margin: 50px;
  padding: 10px;
  float: center;
  border: 10px #2c3639;
  border-radius: 10px;
  }

.card-content h2 {
  text-align: center;
  font-size: 1.5em;
}
.card-content h1 {
  text-align: center;
  padding: 10px;
}
.name_card img {
  width: 100%;
  max-width: 250px;
  height: 100%;
}
.card-content {
  flex: 1;
  padding: 20px;
}
/* something i dont remember */
h1 {
  text-align: center;
  font-size: 100px;
  color: red;
}
h3 {
  text-align: center;
  font-size: 100px;
  color: red;
}

/* case study card */
.card {
  display: flex;
  justify-content: center;
  align-item: center;
  flex-wrap: wrap;
  gap: 24px;
}

.box {
  width: 350px;
  height: 300px;
  border-radius: 10px;
  background-color: red;
}

.photo {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

#hf_card_body{
  background-image: linear-gradient(to bottom right, #b3daba, #3673bd);
  display: inline-block;
  text-align: center;
  min-width: 25%;
  min-height: 200px;
  border-radius: 10px;
  flex: 0 0 250px;
  padding: 10px;
  margin: 5px;
  box-shadow: 2px 2px 10px lightslategrey;
}
#svc_card_body{
  background-image: linear-gradient(to bottom right, #DF8044, #EBC55B);
  display: inline-block;
  text-align: center;
  min-width: 25%;
  min-height: 200px;
  border-radius: 10px;
  flex: 0 0 250px;
  padding: 10px;
  margin: 5px;
  box-shadow: 2px 2px 10px lightslategrey;
}

#Coffee_body {
  background-image: linear-gradient(to bottom right, #abc4aa, #dcd7c9);
  display: inline-block;
  text-align: center;
  min-width: 25%;
  min-height: 200px;
  border-radius: 10px;
  flex: 0 0 250px;
  padding: 10px;
  margin: 5px;
  box-shadow: 2px 2px 10px lightslategrey;
}

/* delete later its a test */
.card_body {
  background-color: #00923f;
  display: inline-block;
  text-align: center;
  min-width: 25%;
  min-height: 200px;
  border-radius: 10px;
  flex: 0 0 250px;
  padding: 10px;
  margin: 5px;
}

.text-field p {
  color: solid black;
}
.text-field h2 {
  color: white;
  margin: 10px;
  padding: 5px;

}
.text-field h3 {
  font-size: 20px;
  color: #2c3639;
  margin: 5px;
  padding: 1px;
  opacity: 85%;
}
.footer_text {
  text-align: center;
  font-size: 30px;
  font-weight: 800px;
}
.email {
  font-size: 5rem;
}
/* carausol */
.carousel-inner img {
  display: block;
  vertical-align: middle;
  align-items: center;
  width: 50%;
  height: 50%;
}

/* media queries */
/* Large */
@media (min-width: 1200px) {
  .photo {
    width: 300px;
  }
}

/* Medium */
@media (min-width: 992px) and (max-width: 1199px) {
  .photo {
    width: 240px;
  }
}

/* Small */
@media (min-width:768px) and (max-width:991px) {
  .photo {
    width: 230px;
  }
}

/* extra small */
@media (max-width: 767px) {
  .photo{
    width: 230px;
  }
}

/* extra extra small */
@media (max-width: 479px) {
  #Coffee_body #hf_card_body #svc_card_body {
  min-width: 100%;
  min-height: 150px;
  border-radius: 10px;
  flex: 0 0 250px;
  padding: 10px;
  margin: 5px;
  box-shadow: 2px 2px 10px lightslategrey;
  }
  .photo {
    width: 230px;
  }
} 

/* nav bar */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

.navbar {
  height: 90px;
  background-color: #00923f;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar a{
  color: white;
}

.logo a {
  font-size: 24px;
  font-weight: 700;
  color: white;
  margin-left: 12px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 32px;
}

.menu-links {
  display: flex;
  gap: 200px;
  padding-inline: 24px;
}

.menu-links a {
  font-weight: 500;
  color: white;
  padding: 8px 16px;
}
.menu-links a:hover {
  color: white;
}

@media (max-width: 53rem) {
  .menu {
    display: none;
  }
}