<link rel="stylesheet" href="Components/name card/name_card.css">
<link rel="stylesheet" href="css/bootstrap.min copy.css">
<section>
    <div class="name_card">
        <img class="photo" src="images/me.jpg" alt="pretty boy">
        <div class="card-content">
            <h1>Hi! My name is Joel Reyes</h1>
            <p class=text>I am an aspiring UX/UI designer from Los Angeles, California seeking opportunities to create intuitive and creative user interfaces<br><hr style="width: 60%"><br>Below you can see the case studies that ive worked on and some graphic design projects that ive worked on.</p>
        </div>
    </div>
</section>
