<footer>
    <div class="footer_text">
      <p>Get in touch at:</p>
      <a class="email" href="mailto:joelreyes174@gmail.com">joelreyes174@gmail.com</a>
      <p>or</p>
      <div class="socials">
          <a href="https://www.linkedin.com/in/joel-reyes-ca1776/" target="_blank">
              <img class="soc" src="socials/linkin.png" alt="linkin">
          </a>
          <a href="https://www.instagram.com/random.fbx/" target="_blank">
              <img class="insta" src="socials/instagram.png" alt="instagram">
          </a>
          <!--
          <a href="#" target="_blank">
              <img class="twitter" src="socials/twitter.png" alt="twitter">
          </a>
          --->
      </div>
      <p>© 2025 My Website</p>
      <div class="skyline">
          <img src="flag_colors.svg" alt="Los Angeles skyline">
      </div>
    </div>
</footer>

