:root {
  --gold-la: #ffbb00;
  --green-la: #00923f;
  --red-la: #d52c27;
  --black: #2C3639;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family:'typewriter'; 
  src: url('/fonts/typewriter.ttf') format('truetype');
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

body {
  font-size: 16px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--black) !important;
  margin: 0;
  padding: 10px;
}

hr {
  width: 50%;
  margin: 20px auto;
  border: none;
  height: 4px;
  border-radius: 20px;
}

/** container **/
iframe {
  width: 75%;
  height: 500px;
  margin-left: 12%;
}

/** footer **/
.footer_text {
  text-align: center;
  font-size: 30px;
  font-weight: 800px;
  color: whitesmoke;
}
.email {
  font-size: 5rem;
  color: white;
}
.email:hover {
  color: white;
  }
}
/** socails **/
/** socails **/
.socials {
  position: relative;
  z-index: 1;
}
.socials .soc {
  height: 100px;
  width: 100px;
  margin: 50px;
  background-size: cover;
}
.socials .insta{
  height: 100px;
  width: 100px;
  margin: 50px;
  background-size: cover;
}
.socials .twitter{
  height: 100px;
  width: 100px;
  margin: 50px;
  background-size: cover;
}

/* media queries */
/* Large */
@media (min-width: 1200px) {

}

/* Medium */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Small */
@media (min-width:768px) and (max-width:991px) {

}

/* extra small */
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
}

/* extra extra small */
@media (max-width: 479px) {
  .email {
    font-size: 2.5rem;
  }
  .socials .soc {
    height: 50px;
    width: 50px;
  }
  .socials .insta {
    height: 50px;
    width:50px;
  }
  .navbar-brand h1 {
    padding-top: 5px;
    font-size: 6vw;
  }
}