:root {
  --gold-la: #ffbb00;
  --green-la: #00923f;
  --red-la: #d52c27;
  --black: #2C3639;
}
* {
  box-sizing: border-box;
}

.body {
  font-size: 16px;
  font-family: 'oxygen', sans-serif;
}

/* name card */
.name_card {
  display: flex;
  background-color: #ffbb00;
  margin-left: 20vw;
  margin-right: 20vw;
  padding: 10px;
  float: center;
  border: 10px #2c3639;
  border-radius: 10px;
  box-shadow: 10px 10px 50px lightslategrey;
  }

.card-content p {
  text-align: justify;
  font-size: 1em;

}
.card-content h1 {
  text-align: center;
  padding: 10px;
}
.name_card img {
  width: 100%;
  max-width: 250px;
  height: 100%;
  border: 10px solid;
  border-color: var(--red-la);
  border-radius: 10px;
}
.card-content {
  flex: 1;
  padding: 20px;
}
/* something i dont remember */
h1 {
  text-align: center;
  font-size: 100px;
}
h3 {
  text-align: center;
}

/* case study card */
.card {
  display: flex;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1px;
}

.card .photo {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

#hf_card_body{
  background-image: linear-gradient(to bottom right, #b3daba, #3673bd);
  display: inline-block;
  text-align: center;
  min-width: 30%;
  min-height: 200px;
  border-radius: 10px;
  flex: 0 0 250px;
  padding: 10px;
  margin: 5px;
  box-shadow: 2px 2px 10px lightslategrey;
}
#svc_card_body{
  background-image: linear-gradient(to bottom right, #DF8044, #EBC55B);
  display: inline-block;
  text-align: center;
  min-width: 30%;
  min-height: 200px;
  border-radius: 10px;
  flex: 0 0 250px;
  padding: 10px;
  margin: 5px;
  box-shadow: 2px 2px 10px lightslategrey;
}

#Coffee_body {
  background-image: linear-gradient(to bottom right, #abc4aa, #dcd7c9);
  display: inline-block;
  text-align: center;
  min-width: 30%;
  min-height: 200px;
  border-radius: 10px;
  flex: 0 0 250px;
  padding: 10px;
  margin: 5px;
  box-shadow: 2px 2px 10px lightslategrey;
}

/* delete later its a test */
.card_body {
  background-color: #00923f;
  display: inline-block;
  text-align: center;
  min-width: 25%;
  min-height: 200px;
  border-radius: 10px;
  flex: 0 0 250px;
  padding: 10px;
  margin: 5px;
}

.text-field a {
  font-weight: 700;
  font-size: 15px;
  color: white;
}

.text-field p {
  color: solid black;
}
.text-field h2 {
  color: white;
  margin: 10px;
  padding: 5px;

}
.text-field h3 {
  font-size: 20px;
  color: #2c3639;
  margin: 5px;
  padding: 1px;
  opacity: 85%;
}
.footer_text {
  text-align: center;
  font-size: 30px;
  font-weight: 800px;
}
.email {
  font-size: 5rem;
}
/* carausol */
.carousel-inner img {
  display: block;
  vertical-align: middle;
  align-items: center;
  width: 100%;
  height: 100%;
}
/** GD Images **/
.GD_images img {
  width:35%;
  height:35%;
  position: relative;
  margin-left: 32%;
}
.modal {
  text-align: center;
  padding: 0;
}
.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.custom-img {
  max-width: 100%;
  background-size: cover;
  display: block;
  margin: 0 auto;
}
.modal-body p {
  font-size: 16px;
}
/* nav bar */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

.navbar {
  height: 90px;
  background-color: #00923f;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 2px 10px lightslategrey;
}

.navbar a{
  color: white;
}

.logo a {
  font-size: 24px;
  font-weight: 700;
  color: white;
  margin-left: 12px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 32px;
}

.menu-links {
  display: flex;
  gap: 200px;
  padding-inline: 24px;
}

.menu-links a {
  font-weight: 500;
  color: white;
  padding: 8px 16px;
}
.menu-links a:hover {
  color: white;
}
/** socails **/
.socials {
  display: inline-flex;
}
.socials .soc {
  height: 100px;
  width: 100px;
  margin: 50px;
  background-size: cover;
}
.socials .insta{
  height: 100px;
  width: 100px;
  margin: 50px;
  background-size: cover;
}
.socials .twitter{
  height: 100px;
  width: 100px;
  margin: 50px;
  background-size: cover;
}
/* media queries */
/* Large */
@media (min-width: 1200px) {
  .photo {
    width: 300px;
  }
}

/* Medium */
@media (min-width: 992px) and (max-width: 1199px) {
  .photo {
    width: 240px;
  }
}

/* Small */
@media (min-width:768px) and (max-width:991px) {
  .photo {
    width: 230px;
  }
}

/* extra small */
@media (max-width: 767px) {
  .photo{
    width: 230px;
  }
}

/* extra extra small */
@media (max-width: 479px) {
  p {
    font-size: 14px;
  }
  .email {
    font-size: 2.5rem;
  }
  .photo {
    width: 230px;
  }
  #Coffee_body, #svc_card_body, #hf_card_body {
    min-width: 90%;
  }

  .name_card {
    width: fit-content;
    margin-left: 20px;
    margin-right: 20px;
  }
  .name_card img {
  margin: auto;
  width: 50%;
  height: 50%;
  }
  .card-content h2 {
  text-align: center;
  font-size: 1em;
  }
  .card-content h1 {
  text-align: center;
  font-size: 1.3em;
  padding: 1px;
  }
  .box {
  height: 70px;
  width: 70px;
  margin: 10px;
  }
} 
