.bg_container {
  display: inline-block;
  position: relative;
}

.superman{
  z-index: -1;
  position: fixed;
  height: 200px;
  width: 200px;
  top: 8vw;
  left: 10vw;
}
.death_star {
  position: fixed;
  z-index: -1;
  height: 150px;
  width: 150px;
  top: 5vw;
  right: 10vw;
}
.skyline {
  position: fixed;
  width: 100%;
  height: auto;
  z-index: -2;
  bottom: 0;
  left: 0;
}
/* media queries */
/* Large */
@media (min-width: 1200px) {
}

/* Medium */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Small */
@media (min-width:768px) and (max-width:991px) {
}

/* extra small */
@media (max-width: 767px) {
}

/* extra extra small */
@media (max-width: 479px) {
  .superman{
    height: 150px;
    width: 150px;
    top: 80vw;
    left: 10vw;
  }
  .death_star {
    height: 250px;
    width: 250px;
    top: 5vw;
    right: 7vw;
  }
}








